WebApplication/WebApplication/WebApplication1/Service References/ModelServiceReference/ModelService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6736/Service/ModelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OOC.Entity" />
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="authorUserId" type="xs:int" />
        <xs:element minOccurs="0" name="className" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="topId" type="xs:int" />
        <xs:element minOccurs="0" name="typeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="GetByGuidResult" nillable="true" type="q1:Model" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="ListByNameResult" nillable="true" type="q2:ArrayOfModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListByAuthorUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authorUserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListByAuthorUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="ListByAuthorUserIdResult" nillable="true" type="q3:ArrayOfModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListByClassName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="className" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListByClassNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="ListByClassNameResult" nillable="true" type="q4:ArrayOfModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListByModelTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="modelTags" nillable="true" type="q5:ArrayOfModelTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListByModelTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="ListByModelTagsResult" nillable="true" type="q6:ArrayOfModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Audit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuditResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelPropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="GetModelPropertiesResult" nillable="true" type="q7:ArrayOfModelProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddModelProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="modelProperty" nillable="true" type="q8:ModelProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddModelPropertyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveModelProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveModelPropertyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateModelProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="modelProperty" nillable="true" type="q9:ModelProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateModelPropertyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModelSimpleList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModelSimpleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="ModelSimpleListResult" nillable="true" type="q10:ArrayOfModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRiverBasinByModelGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRiverBasinByModelGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="GetRiverBasinByModelGuidResult" nillable="true" type="q11:ModelProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModelSimpleListByTopID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModelSimpleListByTopIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="ModelSimpleListByTopIDResult" nillable="true" type="q12:ArrayOfModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModelSimpleListByTypeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModelSimpleListByTypeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="ModelSimpleListByTypeIDResult" nillable="true" type="q13:ArrayOfModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>