WebApplication/WebApplication/WebApplication1/Service References/UserServiceReference/UserService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OOC.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OOC.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6736/Service/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OOCEntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="acl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="balance" type="xs:double" />
          <xs:element minOccurs="0" name="creation" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="modification" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="passhash" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="OOCEntityObject">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OOCEntityObject" nillable="true" type="tns:OOCEntityObject" />
</xs:schema>