WebApplication/WebApplication/WebApplication1/Service References/CompositionServiceReference/CompositionService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6736/Service/CompositionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OOC.Entity" />
  <xs:import schemaLocation="http://localhost:6736/Service/CompositionService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Common" />
  <xs:import schemaLocation="http://localhost:6736/Service/CompositionService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="QueryCompositionByAuthorUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authorUserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryCompositionByAuthorUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="QueryCompositionByAuthorUserIdResult" nillable="true" type="q1:ArrayOfComposition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryCompositionByKeyword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryCompositionByKeywordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="QueryCompositionByKeywordResult" nillable="true" type="q2:ArrayOfComposition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryCompositionByModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryCompositionByModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="QueryCompositionByModelResult" nillable="true" type="q3:ArrayOfComposition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authorUserId" type="xs:int" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isShared" type="xs:boolean" />
        <xs:element minOccurs="0" name="isFinished" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompositionModels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compositionGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompositionModelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="GetCompositionModelsResult" nillable="true" type="q4:ArrayOfCompositionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompositionModelsData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compositionGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompositionModelsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Common" minOccurs="0" name="GetCompositionModelsDataResult" nillable="true" type="q5:ArrayOfCompositionModelData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCompositionModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compositionGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modelGuid" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Common" minOccurs="0" name="properties" nillable="true" type="q6:CompositionModelProperties" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCompositionModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCompositionModelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompositionModelProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cmGuid" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Common" minOccurs="0" name="properties" nillable="true" type="q7:CompositionModelProperties" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompositionModelPropertiesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompositionModelProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cmGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompositionModelPropertyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompositionModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cmGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompositionModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="GetCompositionModelResult" nillable="true" type="q8:CompositionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompositionModelData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cmGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompositionModelDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Common" minOccurs="0" name="GetCompositionModelDataResult" nillable="true" type="q9:CompositionModelData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cmGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveModelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompositionLinks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compositionGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompositionLinksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="GetCompositionLinksResult" nillable="true" type="q10:ArrayOfCompositionLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompositionLinksData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compositionGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompositionLinksDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Common" minOccurs="0" name="GetCompositionLinksDataResult" nillable="true" type="q11:ArrayOfCompositionLinkData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCompositionLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compositionGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sourceCmGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetCmGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sourceQuantity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetQuantity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sourceElementSet" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetElementSet" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Common" minOccurs="0" name="dataOperation" nillable="true" type="q12:LinkDataOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCompositionLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCompositionLinkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompositionLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="linkGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompositionLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="GetCompositionLinkResult" nillable="true" type="q13:CompositionLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompositionLinkData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="linkGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompositionLinkDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Common" minOccurs="0" name="GetCompositionLinkDataResult" nillable="true" type="q14:CompositionLinkData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCompositionLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="linkGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCompositionLinkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompositionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compositionGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompositionDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Common" minOccurs="0" name="GetCompositionDataResult" nillable="true" type="q15:CompositionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateInputFileName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compositionGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modelGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="relativePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateInputFileNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateInputFileNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInputFileNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compositionGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInputFileNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetInputFileNamesResult" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompositionTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compositionGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompositionTitleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>