OOC.Instance/Service References/BillService/BillService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OOC.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OOC.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6736/Service/BillService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="Bill">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OOCEntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="amount" type="xs:double" />
          <xs:element minOccurs="0" name="cmGuid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="creation" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="isRefunded" type="xs:boolean" />
          <xs:element minOccurs="0" name="modification" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="taskGuid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="userId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Bill" nillable="true" type="tns:Bill" />
  <xs:complexType name="OOCEntityObject">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OOCEntityObject" nillable="true" type="tns:OOCEntityObject" />
  <xs:complexType name="ArrayOfBill">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bill" nillable="true" type="tns:Bill" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBill" nillable="true" type="tns:ArrayOfBill" />
</xs:schema>