OOC.Instance/Service References/TaskService/TaskService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Abstract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Abstract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6736/Service/TaskService.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SerializableData">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="SerializableData" nillable="true" type="tns:SerializableData" />
  <xs:complexType name="Dict">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SerializableData">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Kvs" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Dict" nillable="true" type="tns:Dict" />
</xs:schema>