OOC.Instance/Service References/TaskService/TaskService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OOC.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OOC.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6736/Service/TaskService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="Composition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompositionLink" nillable="true" type="tns:ArrayOfCompositionLink" />
          <xs:element minOccurs="0" name="CompositionModel" nillable="true" type="tns:ArrayOfCompositionModel" />
          <xs:element minOccurs="0" name="OutputParameter" nillable="true" type="tns:ArrayOfOutputParameter" />
          <xs:element minOccurs="0" name="Task" nillable="true" type="tns:ArrayOfTask" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q1:EntityReferenceOfUserdfwjoNxd" />
          <xs:element minOccurs="0" name="authorUserId" type="xs:long" />
          <xs:element minOccurs="0" name="creation" type="xs:dateTime" />
          <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="isFinished" type="xs:boolean" />
          <xs:element minOccurs="0" name="isShared" type="xs:boolean" />
          <xs:element minOccurs="0" name="modification" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Composition" nillable="true" type="tns:Composition" />
  <xs:complexType name="ArrayOfCompositionLink">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompositionLink" nillable="true" type="tns:CompositionLink" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompositionLink" nillable="true" type="tns:ArrayOfCompositionLink" />
  <xs:complexType name="CompositionLink">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Composition" nillable="true" type="tns:Composition" />
          <xs:element minOccurs="0" name="CompositionModelSource" nillable="true" type="tns:CompositionModel" />
          <xs:element minOccurs="0" name="CompositionModelSourceReference" nillable="true" type="q2:EntityReferenceOfCompositionModeldfwjoNxd" />
          <xs:element minOccurs="0" name="CompositionModelTarget" nillable="true" type="tns:CompositionModel" />
          <xs:element minOccurs="0" name="CompositionModelTargetReference" nillable="true" type="q2:EntityReferenceOfCompositionModeldfwjoNxd" />
          <xs:element minOccurs="0" name="CompositionReference" nillable="true" type="q2:EntityReferenceOfCompositiondfwjoNxd" />
          <xs:element minOccurs="0" name="compositionGuid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="creation" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dataOperation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="modification" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="sourceCmGuid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sourceElementSet" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sourceQuantity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="targetCmGuid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="targetElementSet" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="targetQuantity" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompositionLink" nillable="true" type="tns:CompositionLink" />
  <xs:complexType name="CompositionModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Bill" nillable="true" type="tns:ArrayOfBill" />
          <xs:element minOccurs="0" name="Composition" nillable="true" type="tns:Composition" />
          <xs:element minOccurs="0" name="CompositionLinkSource" nillable="true" type="tns:ArrayOfCompositionLink" />
          <xs:element minOccurs="0" name="CompositionLinkTarget" nillable="true" type="tns:ArrayOfCompositionLink" />
          <xs:element minOccurs="0" name="CompositionReference" nillable="true" type="q3:EntityReferenceOfCompositiondfwjoNxd" />
          <xs:element minOccurs="0" name="Model" nillable="true" type="tns:Model" />
          <xs:element minOccurs="0" name="ModelReference" nillable="true" type="q3:EntityReferenceOfModeldfwjoNxd" />
          <xs:element minOccurs="0" name="OutputParameter" nillable="true" type="tns:ArrayOfOutputParameter" />
          <xs:element minOccurs="0" name="compositionGuid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="creation" type="xs:dateTime" />
          <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="modelGuid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="modification" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="properties" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompositionModel" nillable="true" type="tns:CompositionModel" />
  <xs:complexType name="ArrayOfBill">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bill" nillable="true" type="tns:Bill" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBill" nillable="true" type="tns:ArrayOfBill" />
  <xs:complexType name="Bill">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompositionModel" nillable="true" type="tns:CompositionModel" />
          <xs:element minOccurs="0" name="CompositionModelReference" nillable="true" type="q4:EntityReferenceOfCompositionModeldfwjoNxd" />
          <xs:element minOccurs="0" name="Task" nillable="true" type="tns:Task" />
          <xs:element minOccurs="0" name="TaskReference" nillable="true" type="q4:EntityReferenceOfTaskdfwjoNxd" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q4:EntityReferenceOfUserdfwjoNxd" />
          <xs:element minOccurs="0" name="amount" type="xs:double" />
          <xs:element minOccurs="0" name="cmGuid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="creation" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="isRefunded" type="xs:boolean" />
          <xs:element minOccurs="0" name="modification" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="taskGuid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="userId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Bill" nillable="true" type="tns:Bill" />
  <xs:complexType name="Task">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q5:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Bill" nillable="true" type="tns:ArrayOfBill" />
          <xs:element minOccurs="0" name="Composition" nillable="true" type="tns:Composition" />
          <xs:element minOccurs="0" name="CompositionReference" nillable="true" type="q5:EntityReferenceOfCompositiondfwjoNxd" />
          <xs:element minOccurs="0" name="OutputParameter" nillable="true" type="tns:ArrayOfOutputParameter" />
          <xs:element minOccurs="0" name="TaskFileMapping" nillable="true" type="tns:ArrayOfTaskFileMapping" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q5:EntityReferenceOfUserdfwjoNxd" />
          <xs:element minOccurs="0" name="compositionData" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="compositionGuid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="creation" type="xs:dateTime" />
          <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="instanceName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="modelProgress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="modification" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="state" type="xs:byte" />
          <xs:element minOccurs="0" name="timeFinished" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="timeStarted" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="triggerInvokeTime" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="userId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Task" nillable="true" type="tns:Task" />
  <xs:complexType name="ArrayOfOutputParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OutputParameter" nillable="true" type="tns:OutputParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOutputParameter" nillable="true" type="tns:ArrayOfOutputParameter" />
  <xs:complexType name="OutputParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q6:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Composition" nillable="true" type="tns:Composition" />
          <xs:element minOccurs="0" name="CompositionModel" nillable="true" type="tns:CompositionModel" />
          <xs:element minOccurs="0" name="CompositionModelReference" nillable="true" type="q6:EntityReferenceOfCompositionModeldfwjoNxd" />
          <xs:element minOccurs="0" name="CompositionReference" nillable="true" type="q6:EntityReferenceOfCompositiondfwjoNxd" />
          <xs:element minOccurs="0" name="Task" nillable="true" type="tns:Task" />
          <xs:element minOccurs="0" name="TaskReference" nillable="true" type="q6:EntityReferenceOfTaskdfwjoNxd" />
          <xs:element minOccurs="0" name="compositionGuid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="compositionModelGuid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="creation" type="xs:dateTime" />
          <xs:element minOccurs="0" name="elementSet" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parameterValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="taskGuid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OutputParameter" nillable="true" type="tns:OutputParameter" />
  <xs:complexType name="ArrayOfTaskFileMapping">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskFileMapping" nillable="true" type="tns:TaskFileMapping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskFileMapping" nillable="true" type="tns:ArrayOfTaskFileMapping" />
  <xs:complexType name="TaskFileMapping">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q7:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Task" nillable="true" type="tns:Task" />
          <xs:element minOccurs="0" name="TaskReference" nillable="true" type="q7:EntityReferenceOfTaskdfwjoNxd" />
          <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="isDownloadable" type="xs:boolean" />
          <xs:element minOccurs="0" name="relativePath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="taskGuid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="type" type="xs:byte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TaskFileMapping" nillable="true" type="tns:TaskFileMapping" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q8:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Bill" nillable="true" type="tns:ArrayOfBill" />
          <xs:element minOccurs="0" name="Composition" nillable="true" type="tns:ArrayOfComposition" />
          <xs:element minOccurs="0" name="Model" nillable="true" type="tns:ArrayOfModel" />
          <xs:element minOccurs="0" name="Task" nillable="true" type="tns:ArrayOfTask" />
          <xs:element minOccurs="0" name="acl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="balance" type="xs:double" />
          <xs:element minOccurs="0" name="creation" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="modification" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="passhash" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfComposition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Composition" nillable="true" type="tns:Composition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComposition" nillable="true" type="tns:ArrayOfComposition" />
  <xs:complexType name="ArrayOfModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Model" nillable="true" type="tns:Model" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModel" nillable="true" type="tns:ArrayOfModel" />
  <xs:complexType name="Model">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q9:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuthorUser" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="AuthorUserReference" nillable="true" type="q9:EntityReferenceOfUserdfwjoNxd" />
          <xs:element minOccurs="0" name="CompositionModel" nillable="true" type="tns:ArrayOfCompositionModel" />
          <xs:element minOccurs="0" name="ModelFileMapping" nillable="true" type="tns:ArrayOfModelFileMapping" />
          <xs:element minOccurs="0" name="ModelProperty" nillable="true" type="tns:ArrayOfModelProperty" />
          <xs:element minOccurs="0" name="ModelTag" nillable="true" type="tns:ArrayOfModelTag" />
          <xs:element minOccurs="0" name="abstract" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="authorUserId" type="xs:long" />
          <xs:element minOccurs="0" name="className" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="creation" type="xs:dateTime" />
          <xs:element minOccurs="0" name="eName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="isApproved" type="xs:boolean" />
          <xs:element minOccurs="0" name="isPublic" type="xs:boolean" />
          <xs:element minOccurs="0" name="modification" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="riverBasin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="topId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="typeId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Model" nillable="true" type="tns:Model" />
  <xs:complexType name="ArrayOfCompositionModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompositionModel" nillable="true" type="tns:CompositionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompositionModel" nillable="true" type="tns:ArrayOfCompositionModel" />
  <xs:complexType name="ArrayOfModelFileMapping">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelFileMapping" nillable="true" type="tns:ModelFileMapping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelFileMapping" nillable="true" type="tns:ArrayOfModelFileMapping" />
  <xs:complexType name="ModelFileMapping">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q10:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Model" nillable="true" type="tns:Model" />
          <xs:element minOccurs="0" name="ModelReference" nillable="true" type="q10:EntityReferenceOfModeldfwjoNxd" />
          <xs:element minOccurs="0" name="creation" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="isDataProcessor" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="isDocument" type="xs:boolean" />
          <xs:element minOccurs="0" name="isMainLibrary" type="xs:boolean" />
          <xs:element minOccurs="0" name="modelGuid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="modification" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="relativePath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ModelFileMapping" nillable="true" type="tns:ModelFileMapping" />
  <xs:complexType name="ArrayOfModelProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelProperty" nillable="true" type="tns:ModelProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelProperty" nillable="true" type="tns:ArrayOfModelProperty" />
  <xs:complexType name="ModelProperty">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q11:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Model" nillable="true" type="tns:Model" />
          <xs:element minOccurs="0" name="ModelReference" nillable="true" type="q11:EntityReferenceOfModeldfwjoNxd" />
          <xs:element minOccurs="0" name="additional" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="creation" type="xs:dateTime" />
          <xs:element minOccurs="0" name="default" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="modelGuid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="modification" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="type" type="xs:byte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ModelProperty" nillable="true" type="tns:ModelProperty" />
  <xs:complexType name="ArrayOfModelTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelTag" nillable="true" type="tns:ModelTag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelTag" nillable="true" type="tns:ArrayOfModelTag" />
  <xs:complexType name="ModelTag">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q12:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChildModelTags" nillable="true" type="tns:ArrayOfModelTag" />
          <xs:element minOccurs="0" name="Model" nillable="true" type="tns:ArrayOfModel" />
          <xs:element minOccurs="0" name="ParentModelTag" nillable="true" type="tns:ModelTag" />
          <xs:element minOccurs="0" name="ParentModelTagReference" nillable="true" type="q12:EntityReferenceOfModelTagdfwjoNxd" />
          <xs:element minOccurs="0" name="creation" type="xs:dateTime" />
          <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="modification" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parentTagGuid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ModelTag" nillable="true" type="tns:ModelTag" />
  <xs:complexType name="ArrayOfTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Task" nillable="true" type="tns:Task" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTask" nillable="true" type="tns:ArrayOfTask" />
</xs:schema>