OOC.Instance/Service References/TaskService/TaskService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6736/Service/TaskService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/OOC.Entity" />
  <xs:import schemaLocation="http://localhost:6736/Service/TaskService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Abstract" />
  <xs:import schemaLocation="http://localhost:6736/Service/TaskService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="TaskState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Created" />
      <xs:enumeration value="Ready" />
      <xs:enumeration value="Assigned" />
      <xs:enumeration value="Running" />
      <xs:enumeration value="Aborted" />
      <xs:enumeration value="Completed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaskState" nillable="true" type="tns:TaskState" />
  <xs:complexType name="CompositionData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Abstract" base="q1:SerializableData">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="Composition" nillable="true" type="q2:Composition" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="Links" nillable="true" type="q3:ArrayOfCompositionLink" />
          <xs:element minOccurs="0" name="Models" nillable="true" type="tns:ArrayOfCompositionModelData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompositionData" nillable="true" type="tns:CompositionData" />
  <xs:complexType name="ArrayOfCompositionModelData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompositionModelData" nillable="true" type="tns:CompositionModelData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompositionModelData" nillable="true" type="tns:ArrayOfCompositionModelData" />
  <xs:complexType name="CompositionModelData">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="CompositionModel" nillable="true" type="q4:CompositionModel" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="Model" nillable="true" type="q5:Model" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="ModelFiles" nillable="true" type="q6:ArrayOfModelFileMapping" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="ModelProperties" nillable="true" type="q7:ArrayOfModelProperty" />
      <xs:element minOccurs="0" name="PropertyValues" nillable="true" type="tns:CompositionModelProperties" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositionModelData" nillable="true" type="tns:CompositionModelData" />
  <xs:complexType name="CompositionModelProperties">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Abstract" base="q8:Dict">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompositionModelProperties" nillable="true" type="tns:CompositionModelProperties" />
  <xs:simpleType name="TaskFileType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Input">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Output">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Log">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaskFileType" nillable="true" type="tns:TaskFileType" />
  <xs:complexType name="ModelProgress">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Abstract" base="q9:Dict">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ModelProgress" nillable="true" type="tns:ModelProgress" />
</xs:schema>