WebApplication/WebApplication/WebApplication1/Service References/ModelTypeServiceReference/ModelTypeService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OOC.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OOC.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6736/Service/ModelTypeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfModelType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelType" nillable="true" type="tns:ModelType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelType" nillable="true" type="tns:ArrayOfModelType" />
  <xs:complexType name="ModelType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OOCEntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="IsSub" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsTop" type="xs:boolean" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TopID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ModelType" nillable="true" type="tns:ModelType" />
  <xs:complexType name="OOCEntityObject">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OOCEntityObject" nillable="true" type="tns:OOCEntityObject" />
</xs:schema>