OOC.Instance/Service References/InstanceService/InstanceService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6736/Service/InstanceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Common" />
  <xs:complexType name="InstanceHeartbeatStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentRunningTask" type="xs:int" />
      <xs:element minOccurs="0" name="InstanceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxRunningTask" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Common" minOccurs="0" name="SystemStatus" nillable="true" type="q1:NodeSystemStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstanceHeartbeatStatus" nillable="true" type="tns:InstanceHeartbeatStatus" />
</xs:schema>