OOC.Instance/Service References/InstanceService/InstanceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InstanceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6736/Service/InstanceService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6736/Service/InstanceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6736/Service/InstanceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Request" />
      <xsd:import schemaLocation="http://localhost:6736/Service/InstanceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInstanceService_Heartbeat_InputMessage">
    <wsdl:part name="parameters" element="tns:Heartbeat" />
  </wsdl:message>
  <wsdl:message name="IInstanceService_Heartbeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:HeartbeatResponse" />
  </wsdl:message>
  <wsdl:message name="IInstanceService_QueryStatusByInstanceName_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryStatusByInstanceName" />
  </wsdl:message>
  <wsdl:message name="IInstanceService_QueryStatusByInstanceName_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryStatusByInstanceNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IInstanceService">
    <wsdl:operation name="Heartbeat">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstanceService/Heartbeat" message="tns:IInstanceService_Heartbeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstanceService/HeartbeatResponse" message="tns:IInstanceService_Heartbeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryStatusByInstanceName">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstanceService/QueryStatusByInstanceName" message="tns:IInstanceService_QueryStatusByInstanceName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstanceService/QueryStatusByInstanceNameResponse" message="tns:IInstanceService_QueryStatusByInstanceName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInstanceService" type="tns:IInstanceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Heartbeat">
      <soap:operation soapAction="http://tempuri.org/IInstanceService/Heartbeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryStatusByInstanceName">
      <soap:operation soapAction="http://tempuri.org/IInstanceService/QueryStatusByInstanceName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InstanceService">
    <wsdl:port name="BasicHttpBinding_IInstanceService" binding="tns:BasicHttpBinding_IInstanceService">
      <soap:address location="http://localhost:6736/Service/InstanceService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>