WebApplication/WebApplication/WebApplication1/Service References/TaskServiceReference/TaskService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6736/Service/TaskService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Common" />
  <xs:import schemaLocation="http://localhost:6736/Service/TaskService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Response" />
  <xs:import schemaLocation="http://localhost:6736/Service/TaskService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/OOC.Entity" />
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compositionGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="triggerInvokeTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncComposition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncCompositionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Common" minOccurs="0" name="state" type="q1:TaskState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportInstanceFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="instanceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportInstanceFaultResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignPendingTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="instanceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignPendingTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Response" minOccurs="0" name="AssignPendingTaskResult" nillable="true" type="q2:TaskAssignResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryTaskByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryTaskByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="QueryTaskByGuidResult" nillable="true" type="q3:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryModelProgressByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryModelProgressByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Common" minOccurs="0" name="QueryModelProgressByGuidResult" nillable="true" type="q4:ModelProgress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryTaskDataByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryTaskDataByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Response" minOccurs="0" name="QueryTaskDataByGuidResult" nillable="true" type="q5:TaskDataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryTaskByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryTaskByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="QueryTaskByUserIdResult" nillable="true" type="q6:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTaskFileMapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="relativePath" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Common" minOccurs="0" name="type" type="q7:TaskFileType" />
        <xs:element minOccurs="0" name="isDownloadable" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTaskFileMappingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateTaskFileName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Common" minOccurs="0" name="type" type="q8:TaskFileType" />
        <xs:element minOccurs="0" name="relativePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateTaskFileNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateTaskFileNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryTaskFileMapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Common" minOccurs="0" name="type" type="q9:TaskFileType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryTaskFileMappingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="QueryTaskFileMappingResult" nillable="true" type="q10:ArrayOfTaskFileMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateModelProgress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/OOC.Contract.Data.Common" minOccurs="0" name="modelProgress" nillable="true" type="q11:ModelProgress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateModelProgressResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskByCompositionAndUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compositionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskByCompositionAndUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/OOC.Entity" minOccurs="0" name="GetTaskByCompositionAndUserResult" nillable="true" type="q12:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>