WebApplication/WebApplication/WebApplication1/Service References/ResultLogsServiceReference/ResultLogsService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OOC.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OOC.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6736/Service/ResultLogsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ResultLogs">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OOCEntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CalTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FileFolder" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModelID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultLogs" nillable="true" type="tns:ResultLogs" />
  <xs:complexType name="OOCEntityObject">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OOCEntityObject" nillable="true" type="tns:OOCEntityObject" />
  <xs:complexType name="ArrayOfResultLogs">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultLogs" nillable="true" type="tns:ResultLogs" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultLogs" nillable="true" type="tns:ArrayOfResultLogs" />
</xs:schema>